body{
    background-color: azure;
    margin:0;
}
section{
    background-color: rgb(172, 200, 211);
}
.hero{
    background-color: gold;
}
 
nav{
    justify-content: space-between;
    display: flex;
}
ul{
    display: flex;
    list-style-type: none;
    width:500px;
    justify-content: space-around;
    font-size: 25px;
}

li, a{
    text-decoration: none;

}

.hero_area{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

}
.hero_text{
    margin-left: 80px;
    margin-bottom: 20px;
}

.button{
    width: 200px;
    height: 55px;
    border-radius: 30px;
    background-color: rgb(139, 173, 44);
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 7px;
    margin-top: 20px;

}