body{
    background-color: black;

}
#background{
    width: 100%;
    height: 100%;
    z-index: 1;
    
}
.vignette{
    position: absolute;
    height:100%;
    width: 100%;
    z-index: 2;
    box-shadow: inset 0 0 100px black;
    

}

.explorePage{
    position: absolute;
    height: 100%;
    width:100%;
    top: 0;
    z-index:3;
    
}


.Explore{
    position:absolute;
    display: block;
    top: 50%;
    left: 40%;   
    width: fit-content;
    z-index: 4;
   
    color:aliceblue
}

.exploreBtn{
    border: none;
    color: aliceblue;
    font-weight: 20px;
    font-size:100%;
    background-color: rgba(0, 0, 0, 0.658);
    width: 180%;
    height: 80px;
    outline: solid rgb(209, 207, 207);
    border-radius: 50px;
    z-index: 5;
    cursor: pointer;
}
.exploreBtn:hover{
    transform:scaleX(0.95);
    background-color: rgba(8, 8, 8, 0.795);
    border-radius: 51px;
}
.options{
    position:absolute;
    top: 8px;
    left: 8px;
    
}
#stopPlayback{
    position: relative;
    top: 8px;
    left: 8px;
    
}